.custom-footer {
    background-color: #1f1212; /* Color de fondo negro */
    color: #fff; /* Color de texto blanco o el que prefieras */
    padding: 20px; /* Espaciado interno para separar el contenido del borde */
  }
  